<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
<title>Framing the Future Gala</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<link href="../gala.css" rel="stylesheet" type="text/css" media="all" />
<link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.2.0/css/bootstrap.min.css"
	th:href="@{/webjars/bootstrap/3.2.0/css/bootstrap.min.css}" rel="stylesheet" media="screen" />
<link href="../static/css/core.css" th:href="@{/css/core.css}" rel="stylesheet" media="screen" />
<script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.1/jquery.min.js" th:src="@{/webjars/jquery/2.1.1/jquery.min.js}" />

<!-- Start of StatCounter Code -->
<script type="text/javascript" language="javascript">
	var sc_project = 1503841;
	var sc_invisible = 1;
	var sc_partition = 13;
	var sc_security = "280b0d81";
</script>

<script type="text/javascript" language="javascript" src="http://www.statcounter.com/counter/counter.js" />
<!-- <noscript>
	<a href="http://www.statcounter.com/" target="_blank"><img
		src="http://c14.statcounter.com/counter.php?sc_project=1503841&java=0&security=280b0d81&invisible=1"
		alt="javascript hit counter" border="0" /></a>
</noscript>
 -->
<!-- End of StatCounter Code -->
</head>

<body background="../images/inside_bg2.jpg" bgcolor="white" link="#cccccc" leftmargin="0" topmargin="0" marginwidth="0"
	marginheight="0">
	<div align="left">
		<div
			style="position: relative; width: 775px; height: 219px; background-image: url(../images/inside_bg.jpg); -adbe-g: d;">
			<div style="position: absolute; top: 15px; left: 139px; width: 524px; height: 63px;">
				<table width="524" border="0" cellspacing="0" cellpadding="0" height="19%">
					<tr height="16">
						<td valign="top" width="142" height="16">
							<p class="text_links">
								<font color="#cf6501">Gala Tickets</font>
							</p>
						</td>
						<td valign="top" width="195" height="16">
							<p class="text_links">
								<a href="corporate.html" class="nav">Corporate Sponsorship</a>
							</p>
						</td>
						<td valign="top" height="16">
							<p class="text_links">
								<a href="donate.html" class="nav">Donate to Two Rivers</a>
							</p>
						</td>
					</tr>
					<tr height="16">
						<td valign="top" width="142" height="16">
							<p class="text_links">
								<a href="tickets_raffle.html" class="nav">Raffle</a><font color="#363636"> </font>
							</p>
						</td>
						<td valign="top" width="195" height="16">
							<p class="text_links">
								<a href="family.html" class="nav">Family Sponsorship</a>
							</p>
						</td>
						<td valign="top" height="16">
							<p class="text_links">
								<a href="http://www.tworiverspcs.org" target="_blank" class="nav">Two Rivers PCS website</a>
							</p>
						</td>
					</tr>
					<tr height="16">
						<td valign="top" width="142" height="16">
							<p class="text_links">
								<a href="learn.html" class="nav">Gala Background</a>
							</p>
						</td>
						<td valign="top" width="195" height="16">
							<p class="text_links">
								<a href="program.html" class="nav">Buy an Ad in our Program Book</a>
							</p>
						</td>
						<td valign="top" height="16">
							<p class="text_links">
								<a href="contact.html" class="nav">Contact Us</a>
							</p>
						</td>
					</tr>
					<tr height="15">
						<td valign="top" width="142" height="15">
							<p class="text_links">
								<a href="list.html" class="nav">Participating Artists</a>
							</p>
						</td>
						<td valign="top" width="195" height="15">
							<p class="text_links">
								<a href="volunteer.html" class="nav">Volunteer to Help</a>
							</p>
						</td>
						<td class="text" valign="top" height="15"><a href=".." class="nav">Home</a></td>
					</tr>
				</table>
			</div>
		</div>
		<div id="layer1">
			<div align="left">
				<p class="text">
					<em>Framing the Future</em> will be held on 26 April 2014. The event begins with cocktails at 6:30 followed by a
					silent auction at 7:30pm &middot; Black tie for the brave &middot; Valet parking
				</p>
				<p class="text">
					<strong>Tickets are $85 each.</strong>
				</p>
				<div align="left">
					<div align="left">
						<p class="text">
							<strong>Purchase tickets by mail </strong>and pay by check or credit card: <a
								href="../downloads/GalaTicketSaleForm.pdf" target="_blank"><font color="#cf6501">download form</font></a>,
							complete, and return with payment to:
						</p>
						<div align="left">
							<div align="left">
								<p class="text">
									Two Rivers Public Charter School<br /> 1227 4th Street NE &middot; W DC 20002
								</p>
								<p class="text">
									Or purchase tickets securely online. Just click <a
										href="https://trpcs.ejoinme.org/MyEvents/FramingtheFutureGala2014/PurchaseTickets/tabid/499125/Default.aspx"
										target="_blank"><font color="#cf6501">here</font></a><font color="#c8c8c8">.</font>
								</p>
							</div>
						</div>
					</div>
				</div>
				<div align="left">
					<div align="left">
						<div align="left">
							<div align="left">
								<p class="text">
									Various options for discounts and free tickets are available for donating Artists and event sponsors (<a
										href="corporate.html"><font color="#cf6501">become a corporate sponsor</font></a>, or <a href="family.html"><font
										color="#cf6501">become a family sponsor</font></a>)
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>