<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
<title>Framing the Future Gala</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<link href="../gala.css" rel="stylesheet" type="text/css" media="all" />
<link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.2.0/css/bootstrap.min.css"
	th:href="@{/webjars/bootstrap/3.2.0/css/bootstrap.min.css}" rel="stylesheet" media="screen" />
<link href="../static/css/core.css" th:href="@{/css/core.css}" rel="stylesheet" media="screen" />
<script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.1/jquery.min.js" th:src="@{/webjars/jquery/2.1.1/jquery.min.js}" />

<!-- Start of StatCounter Code -->
<script type="text/javascript" language="javascript">
	var sc_project = 1503841;
	var sc_invisible = 1;
	var sc_partition = 13;
	var sc_security = "280b0d81";
</script>

<script type="text/javascript" language="javascript" src="http://www.statcounter.com/counter/counter.js" />
<!-- <noscript>
	<a href="http://www.statcounter.com/" target="_blank"><img
		src="http://c14.statcounter.com/counter.php?sc_project=1503841&java=0&security=280b0d81&invisible=1"
		alt="javascript hit counter" border="0" /></a>
</noscript>
 -->
<!-- End of StatCounter Code -->
</head>

</html>