<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
<title>Framing the Future Gala</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<!-- 		<link href="gala.css" rel="stylesheet" type="text/css" media="all" />
 -->
<link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.2.0/css/bootstrap.min.css"
	th:href="@{/webjars/bootstrap/3.2.0/css/bootstrap.min.css}" rel="stylesheet" media="screen" />
<link href="../static/css/core.css" th:href="@{/css/core.css}" rel="stylesheet" media="screen" />
<script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.1/jquery.min.js" th:src="@{/webjars/jquery/2.1.1/jquery.min.js}" />

<!-- Start of StatCounter Code -->
<script type="text/javascript" language="javascript">
	var sc_project = 1503841;
	var sc_invisible = 1;
	var sc_partition = 13;
	var sc_security = "280b0d81";
</script>

<script type="text/javascript" language="javascript" src="http://www.statcounter.com/counter/counter.js" />
<!-- <noscript>
	<a href="http://www.statcounter.com/" target="_blank"><img
		src="http://c14.statcounter.com/counter.php?sc_project=1503841&java=0&security=280b0d81&invisible=1"
		alt="javascript hit counter" border="0" /></a>
</noscript>
 -->
<!-- End of StatCounter Code -->
</head>

<body background="images/home_bg2.jpg" bgcolor="white" link="#cdcdcd" leftmargin="0" topmargin="0" marginwidth="0"
	marginheight="0">
	<div align="left">
		<div style="position: relative; width: 849px; height: 1050px; background-image: url(images/home_bg.jpg); -adbe-g: p;">
			<div style="position: absolute; top: 196px; left: 334px; width: 498px; height: 52px; -adbe-c: c">
				<p class="text" align="left">
					Our tenth annual art gala, <em>Framing the Future</em>, an evening of art &amp; music in support of the <strong>Two
						Rivers Community</strong> &middot; 26 April 2014 &middot; Cocktail hour begins at 6:30 pm &middot; Cocktails, marvelous
					cuisine, live music, a silent auction, which includes incredible fine art, and a chance to meet and celebrate the
					participating artists &middot; Black tie for the brave &middot; Complimentary valet parking
				</p>
			</div>
			<div style="position: absolute; top: 900px; left: 108px; width: 725px; height: 63px;">
				<table width="719" border="0" cellspacing="0" cellpadding="0" height="19%">
					<tr height="16">
						<td valign="top" width="228" height="16">
							<p class="text_links">
								<a href="pages/tickets_gala.html" class="nav">Gala Tickets</a>
							</p>
						</td>
						<td valign="top" width="273" height="16">
							<p class="text_links">
								<a href="pages/corporate.html" class="nav">Corporate Sponsorship</a>
							</p>
						</td>
						<td valign="top" width="218" height="16">
							<p class="text_links">
								<a href="pages/donate.html" class="nav">Donate to Two Rivers</a>
							</p>
						</td>
					</tr>
					<tr height="16">
						<td valign="top" width="228" height="16">
							<p class="text_links">
								<a href="pages/tickets_raffle.html" class="nav">Raffle</a>
							</p>
						</td>
						<td valign="top" width="273" height="16">
							<p class="text_links">
								<a href="pages/family.html" class="nav">Family Sponsorship</a>
							</p>
						</td>
						<td valign="top" width="218" height="16">
							<p class="text_links">
								<a href="http://www.tworiverspcs.org" target="_blank" class="nav">Two Rivers PCS website</a>
							</p>
						</td>
					</tr>
					<tr height="16">
						<td valign="top" width="228" height="16">
							<p class="text_links">
								<a href="pages/learn.html" class="nav">Gala Background</a>
							</p>
						</td>
						<td valign="top" width="273" height="16">
							<p class="text_links">
								<a href="pages/program.html" class="nav">Buy an Ad in our Program Book</a>
							</p>
						</td>
						<td valign="top" width="218" height="16">
							<p class="text_links">
								<a href="pages/contact.html" class="nav">Contact Us</a>
							</p>
						</td>
					</tr>
					<tr height="15">
						<td valign="top" width="228" height="15">
							<p class="text_links">
								<a href="pages/list.html" class="nav">Participating Artists</a>
							</p>
						</td>
						<td valign="top" width="273" height="15">
							<p class="text_links">
								<a href="pages/volunteer.html" class="nav">Volunteer to Help</a>
							</p>
						</td>
						<td class="text" valign="top" width="218" height="15"></td>
					</tr>
				</table>
			</div>
		</div>
		<p class="text_16lead_spbefore">&nbsp;</p>
		<div style="position: absolute; top: 286px; left: 334px; width: 497px; height: 265px; -adbe-c: c">
			<table width="497" border="0" cellspacing="0" cellpadding="0">
				<tr>
					<td width="234" align="left" valign="top"><p class="text_16lead_spbefore">
							<strong><font color="#cc6600">Past Gala Sponsors</font></strong>
						</p>
						<p class="text_16lead_spbefore">
							<a href="http://www.huntsmithdesign.com">Hunt Smith Design</a>
						</p>
						<p class="text_16lead_spbefore">
							<a href="http://themindfarm.com" target="_blank">MindFarm</a>
						</p>
						<p class="text_16lead_spbefore">
							<a href="http://megandgeorge.com" target="_blank">Megan Shapiro and George Olson, your neighborhood Realtors
								- RE/MAX Allegiance</a>
						</p>
						<p class="text_16lead_spbefore">
							<a href="http://www.ginalynnlaw.com" target="_blank">The Law Office of Gina Lynn</a>
						</p>
						<p class="text_16lead_spbefore">
							<a href="https://www.nationalcapitalbank.com" target="_blank">The National Capital Bank of Washington<br />
							</a>
						</p>
						<p class="text_16lead_spbefore" target="_blank">
							<strong><font color="#cc6600">Past Gala Donors</font></strong>
						</p>
						<p class="text_16lead_spbefore">Busboys and Poets</p>
						<p class="text_16lead_spbefore">Cava Mezze Restaurant</p>
						<p class="text_16lead_spbefore">Coinstar, Inc and Red Box</p>
						<p class="text_16lead_spbefore">Creative Gem Designs</p>
						<p class="text_16lead_spbefore">Disney</p>
						<p class="text_16lead_spbefore">Giant</p>
						<p class="text_16lead_spbefore">Golf Galaxy</p>
						<p class="text_16lead_spbefore">Green Mountain Coffee</p>
						<p class="text_16lead_spbefore">Harris Teeter</p>
						<p class="text_16lead_spbefore">Hilton Garden Inn Washington, DC/US Capitol</p>
						<p class="text_16lead" target="_blank"></p></td>
					<td width="10" align="left" valign="top">&nbsp;</td>
					<td width="218" align="left" valign="top"><p class="text_16lead_spbefore">Lucky Strike</p>
						<p class="text_16lead_spbefore">Marriott Courtyard, Washington, DC Metro</p>
						<p class="text_16lead_spbefore">Mutts National Building Museum</p>
						<p class="text_16lead_spbefore">Panera Bread</p>
						<p class="text_16lead_spbefore">Pizza Paradiso</p>
						<p class="text_16lead_spbefore">Ristorante Acqua Al 2</p>
						<p class="text_16lead_spbefore">Rosa Mexicano</p>
						<p class="text_16lead_spbefore">Rustico</p>
						<p class="text_16lead_spbefore">
							<a href="http://cellar.com" target="_blank">Schneider&rsquo;s of Capitol Hill</a>
						</p>
						<p class="text_16lead_spbefore">Stampin Up, Inc</p>
						<p class="text_16lead_spbefore">Strathmore</p>
						<p class="text_16lead_spbefore">Studio Theater</p>
						<p class="text_16lead_spbefore">Sugo</p>
						<p class="text_16lead_spbefore">Todd Gray&rsquo;s Restaurant</p>
						<p class="text_16lead_spbefore">Turbo Green Solutions and Services</p>
						<p class="text_16lead_spbefore">Washington Wizards</p>
						<p class="text_16lead_spbefore">Young Warriors</p>
						<p class="text_16lead_spbefore">&nbsp;</p>
						<p class="text_16lead_spbefore">&nbsp;</p></td>
				</tr>
			</table>
			<p class="text_16lead_spbefore" align="left">&nbsp;</p>
			<div align="left">
				<div align="left"></div>
			</div>
		</div>
		<p class="text_16lead_spbefore">&nbsp;</p>
		<p class="text_16lead_spbefore"></p>
		<div align="left">
			<p></p>
		</div>
	</div>
</body>

</html>